.social-login
    button.social-login--google
        span
            i.fab.fa-google
        |Google 아이디로 로그인
    button.social-login--kakao
        span    
            i.fas.fa-comment
        |카카오톡 아이디로 로그인