extends layouts/main
include mixins/scheduleBlock

block content
    .search
        ul
            li
                a(href=routes.guideSearch) 가이드 찾기
            li
                a(href=routes.scheduleSearch) 방문객 찾기
    .post-schedule
        a(href=`${routes.schedules}${routes.upload}`) 나의 여행 일정 올리기
    .welcome
        h2 여행지를 좀 더 Deep하게 경험하고 싶으시거나 여행객에게 그런 경험을 전달해주고 싶으신가요?
        span 트립메이트에서 찾으세요! 여행지를 소개시켜줄 현지인을 찾는 것이 가능합니다. 현지인이라면 여행자의 일정을 확인하고 현지를 소개시켜주며 다양한 교류를 할 수 있습니다.
    .schedules
        h1 방문객 일정 리스트
        ul.schedules__list
        each schedule in schedules
            +scheduleBlock({
                id: schedule.id,
                title: schedule.title,
                avatar: schedule.creator.avatar
            })
    .guides
        h1 가이드 리스트
            ul
                li 평일 오후7시 이후 / 주말 전부. 한국 거주. 영어, 한국어 가능. 전통문화, 미식 가이드 가능.