extends layouts/main

block content
    .schedules
        h1 방문객 일정 리스트
            ul
                li 20/09/09 서울옴. 독일 거주. 독일어, 영어 가능. 전통체험, 미식         
    .guides
        h1 가이드 리스트
            ul
                li 평일 오후7시 이후 / 주말 전부. 한국 거주. 영어, 한국어 가능. 전통문화, 미식 가이드 가능.